<div>
    Este pasado fin de semana, el Bosque Popular El Prado de Manizales vibró con la pasión y la destreza de los participantes en la primera parada de nuestro emocionante Circuito Manizalita de Voley Playa.

El sábado, la categoría mixta deslumbró con 10 equipos compitiendo bajo el cálido sol manizalita. 


Las duplas Alejandra Peralta y Daniel Castaño se alzaron como campeones, seguidos de cerca por Cristian Camilo Daza y Alejandra Orrego, ambos equipos orgullosamente representando al Club Pelicanos de Voleibol.
</div>