<nav class=" bg-cl1 w-full flex-col flex lg:flex-row">
    <div class=" flex  justify-between">
        <div class="w-60 lg:flex-shrink-0 py-2 flex justify-center items-center  ">
            <img src="../../../assets/pel_logo.png" alt="" class="h-11 w-auto mr-4">
            <div class="text-center  mb-0">
                <h1 class="mb-0 leading-none">PELICANOS</h1>
                <span class="text-white text-lg font-bold tracking-wide leading-none whitespace-nowrap">
                    VOLEY CLUB
                </span>
            </div>
        </div>
        <div class="flex lg:hidden  items-center mr-3">
            <button id='boton'
                class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-cl1 hover:bg-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
    </div>


    <div id="menu" class="w-full items-center hidden flex-col lg:flex lg:flex-row  ">
        <a href="#nosotros" class="w-full h-full">
            <div
                class="cursor-pointer w-full justify-center py-2 hover:bg-white text-center leading-snug text-white h-full  flex  items-center px-3 hover:text-cl1">

                SOBRE NOSOTROS


            </div>
        </a>

        <a href="#grandprix" class="w-full h-full">
            <div
                class="cursor-pointer w-full justify-center py-2 text-center hover:bg-white leading-snug text-white h-full  flex  items-center px-3 hover:text-cl1">
                GRAND PRIX
            </div>
        </a>
        <a href="#aprende" class="w-full h-full">
            <div
                class="cursor-pointer w-full justify-center  hover:bg-white text-white h-full  flex flex-wrap   items-center px-3 hover:text-cl1 py-2 mr-3">
                APRENDE
                <span class="whitespace-nowrap ml-1">
                    VOLEY PLAYA
                </span>
            </div>
        </a>
        <a href="#contacto" class="w-full h-full">
            <div
                class="cursor-pointer w-full justify-center py-2 hover:bg-white text-white h-full  flex  items-center px-3 hover:text-cl1">
                CONTACTANOS
            </div>
        </a>

    </div>

</nav>
